venv
notebook 2.0 data
*.sqlite3
dist/
.env
.env.local
.env.development.local
.env.production.local
/coverage
/tmp
.DS_Store
Thumbs.db
*.bat
*.pyc
/__pycache__
/node_modules
__pycache__
node_modules
db.json
django_winged/winged/settings.py
django_winged/api_logs.log
*.sql
*.log
vue_winged/.browserslistrc
vue_winged/README.md
